@import url(../base/style.css);
@import url(../../icons/awesome/style.scss);
@import url(./stylesheets/header.scss);

@font-face {
  font-family: "Aller";
  src: url('fonts/Aller_Lt.ttf');
}
p.customfont {
  font-family: "My Custom Font", Verdana, Tahoma;
}

/*
* I'm pretty sure it should't have a display table, but
* it fixes the widht+overflow issue. Let's keep it like
* this until we make the layout responsive.
*/
body {
  display: table;
  width: 100%;
  background: #FFF;
  color: #000;
}

/* BETA - INICIO */

#beta {
  width: 98px;
  height: 98px;
  position: absolute;
  top: -48px;
  left: -25px;
}

#beta span {
  display: none;
}

/* BETA - FINAL */

#wrap-1 {
  width: auto;
  position: relative;
}

/* * * Controles do topo * * * * * * * * * * * * * * * * * * * * * * * * * */

#theme-header {
  height: auto;
}

#wrap-2 #user {
  display: none;
}

#wrap-2 #site-title {
  display: none !important;
}

/* o bloco navigation será degenerado para um simples separador */

#navigation-end {
  display: none;
}

#wrap-2 {
  position: static;
  padding: 0px;
  border: none;
/*  margin: 20px auto 0px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: none; */
}

#content {
  margin: 1% auto 5% auto;
  width: 1000px;
  z-index: 0;
}

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8,
.blog-post {
  background: none;
}

/* * * INI Blocos * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#content .block-title {
  border: none;
  color: #2e3436;
  font-size: 14px;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid #888;
}

#content .box-2 .block-title span,
#content .box-3 .block-title span {
  line-height: 26px;
  display: block;
}

.login-box {
  background: #EEE;
  padding: 10px 5px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#content .login-block h2 {
  background: url(images/icons/persons.png) no-repeat 0% 50%;
  border: none;
  color: #000;
  font-variant: normal;
  font-weight: normal;
  padding-left: 15px;
  margin-top: 10px;
}

.login-block {
  border-top: 1px solid #888;
}

.login-block .login-box form {
  padding: 0px;
}

.login-block .forgot-passwd a {
  font-size: 11px;
  color: #651;
}

.login-box .formfieldline input {
  background: #FFF;
  color: #651;
  border: none;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 7px 0px;
  font-size: 15px;
}

.icon-menu-logout{
  background-image: url('images/icons/exit.png');
}
.icon-menu-logout span{
  padding-left: 7px;
}

#content .login-block .button {
  line-height: auto;
  max-height: none;
  color: #651;
}
#content .login-block .button:hover {
  color: #000;
  border: none;
}

#content .login-block .button.with-text span {
  padding: 20px;
}

#content .login-block input.button.icon-login {
  background: #000;
  background-image: -webkit-linear-gradient(top, #EFEAE0, #CFCAC0);
  background-image:    -moz-linear-gradient(top, #F4F0E0, #DFDAD0, #C8C8C8);
  background-image:     -ms-linear-gradient(top, #EFEAE0, #CFCAC0);
  background-image:      -o-linear-gradient(top, #EFEAE0, #CFCAC0);
  background-image:         linear-gradient(top, #EFEAE0, #CFCAC0);
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#content .login-block input.button.icon-login:hover {
  -webkit-box-shadow: 0 0 6px #FFF;
  -moz-box-shadow: 0 0 6px #FFF;
  box-shadow: 0 0 6px #FFF;
}

#content .login-block a.button.icon-add {
  margin-left: 5px;
  background: transparent;
}
#content .login-block a.button.icon-add:hover {
  text-decoration: underline;
}

#content .link-list-block li {
  background: #FFF;
  border: 1px solid #FFF;
  position: relative;
}

#content .link-list-block li .link-this-page-background {
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  background-position: center center;
  height: 30px;
  top: -1px;
  width: 19px;
}
#content .link-list-block li a.link-this-page .link-this-page-background {
  display: block;
  border-color: #fff;
}
.template-leftbar #content .box-2 .link-list-block li .link-this-page-background { /* left */
  /*background-image: url(images/selected-menu-left.png);*/
  right: -17px;
}
.template-default #content .box-2 .link-list-block li a:hover .link-this-page-background,
.template-leftbar #content .box-2 .link-list-block li a:hover .link-this-page-background { /* left */
  /*background-image: url(images/selected-menu-left-hover.png);*/
  right: -17px;
}
.template-rightbar #content .box-2 .link-list-block li .link-this-page-background,
.template-default #content .box-3 .link-list-block li .link-this-page-background { /* right */
  /*background-image: url(images/selected-menu-right.png);*/
  left: -17px;
}
.template-rightbar #content .box-2 .link-list-block li a:hover .link-this-page-background,
.template-default #content .box-3 .link-list-block li a:hover .link-this-page-background { /* right */
  /*background-image: url(images/selected-menu-right-hover.png);*/
  left: -17px;
}

#content .link-list-block li a {
  background: none;
  border: none;
  border-bottom: 1px dotted #555753;
  background-color: transparent;
  color: #003366;
  padding: 2px 1px 2px 23px;
  border-radius: 0px;
}

#content .link-list-block li a:hover,
#content .link-list-block li a:active,
#content .link-list-block li a.link-this-page:hover {
  background: none;
  border: none;
  border-bottom: 1px dotted #555753;
  border-radius: 0px;
  background-color: #F0F0F0;
  color: #003366;
}

#content .link-list-block li a.link-this-page {
  border-radius: 0px;
  background-color: #F0F0F0;
  border: none;
  border-bottom: 1px dotted #555753;
}

#public-profile-search, #profile-search-results form, .profile-search-block form {
  background-color: #FFF;
  border-radius: 0px;
}

.search-field div{
  display: none;
}
.formfield input {
  background-image: none;
  background-color: #F3F2F1;
  border: 1px solid #A09890;
  padding: 3px 0px 3px 1px;
  color: #000;
}
/* * * FIM Blocos * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * Notícias * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#content .main-block h1 {
  padding: 0px 0px 14px 0px;
  font-variant: normal;
  font-weight: normal;
  border-bottom: 1px solid #888;
  color:#2e3436;
}

.highlighted-news-item {
  border: none;
  /*padding-bottom: 10px;*/
  border-bottom: 1px solid #888;
  font-family: 'Aller';
}

#portal-news ul {
  border: none;
}

#portal-news > ul > li > a {
  color: #336699;
}

#content .news-area {
  background: #FCFCFC;
  border-bottom: 3px solid #D2D2D2;
  border-radius: 7px;
  height: 250px;
}

#content .news-area h3 {
  padding: 14px 0px 14px 14px;
  border-left: 10px solid black;
  font-family: "Aller";
}

#content .news-area.even h3 {
  background: #005263;
}

#content .news-area h3 a {
  color: white;
}

#content .news-area.odd h3 {
  background: #008E32;
}

#content .news-area ul {
  padding: 25px 25px 0 25px;
  background: transparent;
  border: none;
}

#content .news-area li {
  font-size: 12px;
  list-style-image: none;
  border-bottom: 1px solid #B4BDBE;
  padding: 0px 0px 3px 0px;
  margin: 0px 0px 16px 0px;
}

#content .news-area a {
  color: #336699;
}

#content .news-area a:hover {
  text-decoration: underline !important;
}

#highlighted-news .post-title {
  color: #005263;
  font-size: 16px;
}

#highlighted-news p {
  color: #999999;
  font-size: 14px;
}

#content .news-area a.news-see-more {
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  margin-top: 210px;
  margin-right: 38px;
  color: white;
  font-family: "Aller";
  font-size: 1.1em;
  text-transform: uppercase;
}

#content .news-area.even a.news-see-more {
  background: #005263;

}

#content .news-area.odd a.news-see-more {
  background: #008E32;
}

#content .news-area a.news-see-more:hover {
  text-decoration: underline;
  color: white;
}

/* * * Light Box * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#TB_window {
  background-image: -webkit-linear-gradient(top, #F4F4F4, #F4F4F4, #D0D0D0);
  background-image:    -moz-linear-gradient(top, #F4F4F4, #F4F4F4, #D0D0D0);
  background-image:     -ms-linear-gradient(top, #F4F4F4, #F4F4F4, #D0D0D0);
  background-image:      -o-linear-gradient(top, #F4F4F4, #F4F4F4, #D0D0D0);
  background-image:         linear-gradient(top, #F4F4F4, #F4F4F4, #D0D0D0);
  box-shadow: 3px 3px 25px #000;
}

#TB_window .login-box {
  background: transparent;
}

#TB_window .formfieldline input {
  -webkit-box-shadow: inset 1px 1px 3px #BBB;
  -moz-box-shadow: inset 1px 1px 3px #BBB;
  box-shadow: inset 1px 1px 3px #BBB;
}

/* * * Footer * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#theme-footer {
  background: #EFEFEF;
  width: auto;
  margin: -5px 0px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

#footer-content {
  background: #EFEFEF;
  margin: -5px auto;
  padding: 30px 20px 20px 20px;
  width: 921px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: none;
  font-size: 14px;
}

#footer-content ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#footer-content li {
  margin: 0px;
  padding: 0px 47px;
  display: block;
  float: left;
}

#footer-content li ul {
  padding: 5px 0px;
}

#footer-content li li {
  float: none;
  display: block;
  padding: 5px 0px;
}

#footer-content a {
  color: #003366;
}
#footer-content a:hover {
  text-decoration: none;
}

#external-sns a {
  padding-left: 20px;
  background: url(images/icons/icon-twitter.png) 0% 50% no-repeat;
}
#external-sns .facebook a {
  background-image: url(images/icons/icon-facebook.png);
}
#external-sns .flickr a {
  background-image: url(images/icons/icon-flickr.png);
}
#external-sns .youtube a {
  background-image: url(images/icons/icon-youtube.png);
}
#external-sns .vimeo a {
  background-image: url(images/icons/icon-vimeo.png);
}
#external-sns .identica a {
  background-image: url(images/icons/icon-identica.png);
}

#footer-search input {
  width: 100%;
  padding: 5px 2px;
  border: none;
  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

#theme-footer #language-chooser {
  clear: both;
  margin-top: 1.5em;
}

#license-on-footer {
  padding: 240px 48px 0;
  font-size: 11px;
  text-align: left;
  color: #003366;
}

#footer-cc {
  display: block;
  width: 24px;
  height: 24px;
  background: url(images/cc.png);
  float:left;
  margin-right: 5px;
}

#footer-cc span {
  display: none;
}

#powered-by-noosfero {
  font-size: 11px;
  text-align: center;
}

/* mudancas joenio */

.highlights-block {
  height: 277px;
  width: 95%;
  border: 0;
  background: transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin-left: 3% !important;
  z-index: 0;
}

.highlights-image-link {
  width: 100% !important;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: #fff;
}

.highlights-container,
.highlights-image-link {
  height: 275px !important;
  border:none;
}

.highlights-block-pager {
  width: 100%;
  margin-top: 10px;
}

.highlights-label {
  padding-left: 5px;
  text-align: left;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  font-weight: bold;
  background: transparent url(/images/black-alpha-pixel.png) left top repeat;
}

.highlights-label {
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: -5px;
  font-size: 14px;
}

#unb span{
  background: url(images/logo-unb-footer.png) top left no-repeat;
  color: transparent;
  display: block;
  float: left;
  height: 100px;
  margin: 5px;
  opacity: 0.7;
  width: 100px;
}

#unb span:hover{
  opacity: 1;
}

/* Primeira imagem */
.highlights-block-pager a {
  height: 17px;
  width: 25px;
  margin-left: 0px;
  padding: 10px;
  color: transparent;
  background: url(images/highlights-image-link.png) center center no-repeat;
}
.highlights-block-pager a.activeSlide,
.highlights-block-pager a.activeSlide:visited,
.highlights-block-pager a:visited,
.highlights-block-pager a:hover {
  color: transparent;
  background: url(images/highlights-image-link-active.png) center center no-repeat;
}

.block a.highlights-image-link {
  position: absolute;
  left: 0px;
}

.link-list-block .sobre {
  background-image: url(images/icons/icone-06-grande.png);
}
.link-list-block .uso-da-rede {
  background-image: url(images/icons/icone-07-grande.png);
}
.link-list-block .mailing {
  background-image: url(images/icons/icone-09-grande.png);
}
.link-list-block .rss {
  background-image: url(images/icons/icone-10-grande.png);
}
.link-list-block .lista {
  background-image: url(images/icons/icone-11-grande.png);
}

.link-this-page,
.link-this-page:hover {
  border-right: none !important;
  width: auto !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#block-614 .block-title span {
  background-image: url(images/icons/icon-twitter-gray.png) !important;
}

#content .profile-info-block h2,
#content .profile-image-block p,
.action-profile-index #content .main-block h1 {
  font-weight: bold;
}

#content .profile-info-block h2,
#content .profile-image-block p,
.action-profile-index #content .main-block h1,
#content .main-block #article h1.title {
  color: #336699;
  font-weight: bold;
}

.action-home-index #content .main-block h1 {
  font-size: 20px;
  font-weight: bold;
  background-color: #EFEFEF;
  border-left: 10px solid #008E32;
  padding-left: 15px;
  font-family: "Aller";
  height: 45px;
  line-height: 300%;
  color: #aaa;
  border-bottom: 0px;
}

body #content .highlighted-news-read-more a {
  background: url(images/icons/leiamais_24.png) left center no-repeat;
  background-size: 16px 16px;
  padding-left: 25px;
}

.action-home-index #highlighted-news .post-date {
  color: #999999;
  margin-top: 5px;
}

.feed-reader-block li,
.recent-documents-block li {
  list-style-image: url("images/icons/lista-menu.jpg");
}

.recent-documents-block ul {
  padding-left: 13px;
}

#content .environment-statistics-block li {
  list-style: square;
}

.main-block .article-body {
  overflow-x: hidden;
}
.main-block #article-header .title {
  overflow-x: hidden;
}

.controller-doc a:link,
.controller-doc a:hover,
.controller-doc a:active,
.controller-doc a {
  color: #222;
}

.controller-doc a:visited {
  color: #ccc;
}

/* content from UnB team*/

#article a {
  color: #003366;
}

#article-sub-header, #article-tags, #article-hits{
  display: none;
}

#content .blog-post .title a {
color: #003366;
font-weight: normal;
text-decoration: none;
}

.menu-cursos {
    list-style: none outside none;
    padding: 1px;
}

.menu-cursos img {
  opacity: 1;
  transition: opacity 0.2s ease 0s;
}
.menu-cursos img:hover {
  opacity: 0.5;
}

/* artigo */

.article-body>h2>span>strong{
  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: 300;
  margin: 8px 0;
  line-height: 1.15em;
}
.article-body{
  color: #444;
  line-height: 1.9em;
}

.article-body>h2 {
  background: url("images/divider.png") center top no-repeat;
  left: 0;
  right: 0;
  padding-top: 14px;
}

/* Header */

#content-inner {
  padding-top: 0px;
}

.members-buttons-cell{
  width: 100% !important;
}

table.cms-articles th:nth-child(2){
  width: 12%;
}

table.cms-articles th:nth-child(3){
  width: 38%;
}

#social-media,
#internal-link {
  border-right: 2px #cccccc solid;
  height: 204px;
}

/* flags style */

.flags{
  float: right;
  padding: 3px;
}

div.article-body.article-body-tiny-mce-article.has-flags {
  margin-top: 37px;
}


.profile-info-options {
}

a.button.icon-add.with-text.join-community {
  width: 155px;
  margin-bottom: 4px !important;
}

a.button.icon-delete.with-text.leave-community {
  width: 155px;
  margin-bottom: 4px !important;
}

a.button.icon-menu-mail.with-text {
  width: 155px;
  margin-bottom: 4px !important;
}

a.button.icon-alert.with-text.report-abuse-action {
  width: 155px;
  margin-bottom: 4px !important;
}

.article-translations {
  margin-top: -39px;
  padding-top: 96px;
}

span.publishing-info.has-flags{
  float: left;
  margin-top: 1px;
}

.publishing-info {
  margin-top: 10px;
}

.article-body {
  margin-top: 10px;
}

#agenda > div.agenda-calendar > table > caption > a.button.icon-next.with-text{
  padding-left: 6px !important;
  padding-right: 21px !important;
}

#events-of-the-day {
  padding-top: 10px;
}

.button.icon-vertical-toggle.with-text {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  position: static;
  float: right;
}

#content-inner > div.no-boxes > div > div > div > div.text-editor-sidebar > div.header {
  height: 20px;
}

#content-inner > div.no-boxes > div > div > div > div.with_media_panel {
  width: 940px;
}

/* Changing css */
#content .main-block .publishing-info {
  text-align: left;
  color: #AAA;
  font-size: 11px;
  margin-bottom:15px;
}

/* fixing flag and bookmark style */

#addThis {
  margin-top: -37px;
}

#bt_addThis.without-flags > img {
  padding-top: 15px;
}

#bt_addThis.with-flags > img {
  padding-top: 0px;
}

#top-functions {
  background: #003366;
}

#navigation {
  position: static;
  margin: auto;
  color: #FFF;
  font-size: 13px;
  background: #005263;
  text-align: center;
  border-bottom: 5px solid #bbb;
  height: 65px;
}

#navigation ul a {
  color: #FFF;
}

#navigation > ul {
  float: none;
  width: 100%;
  padding: 0px;
  white-space: nowrap;
  font-size: 15px;
  font-family: "Aller";
}

#navigation ul li {
  padding-bottom: 10px;
  display: inline-block;
  float: none;
  width: auto !important;
}

#navigation ul li .list-title {
  text-transform: UPPERCASE;
}

/*estilo links*/
#navigation ul li a {
  font-size: 13px;
  line-height: normal;
  text-align: left;
  white-space: nowrap;
}

/* Escondendo submenu */
#navigation ul li ul {
  height: auto;
  border-top: 0px;
  position: absolute;
  left: 0px;
  background-color: white;
  display: none;
  text-align: left;
  padding: 8px 0px 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #005263;
  top: 76%;
}

/* Exibindo submenu */
#navigation ul li:hover ul {
  display: block;
}

/*Ajustes sub-menu */
#navigation ul li ul li {
  display: block;
  margin: 2px 0px 2px 0px;
}

#navigation .dropdown-arrow {
  display: inline-flex;
  margin: 15px 30px 0 0;
  padding: 10px;
}

#navigation .dropdown-arrow a {
  margin-right: 5px;
}

#navigation .dropdown-arrow span {
  padding-left: 0px;
}

#navigation ul li:hover .dropdown-arrow {
  background: #009B37;
  border-radius: 5px;
  box-shadow: 0 3px 0 #00814D;
}

#navigation > ul > li > ul > li > a:hover {
  font-weight: bold;
}

#navigation ul a {
  border: none;
}

#navigation ul a:hover {
  background: none;
  border: none;
}

#navigation ul #home-button {
  display: inline-flex;
  margin-right: 80px;
}

#navigation ul #home-button span {
  padding: 0 5px 0 0;
  color: #00D869;
}

#navigation ul li #news,
#navigation ul li #pos-graduation,
#navigation ul li #labs,
#navigation ul li #info,
#navigation ul li #learn-more,
#navigation ul li #startups {
  margin-top: 15px;
  z-index: 10;
}

.navigation-dropdown-list li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#pos-graduation.navigation-dropdown-list,
#info.navigation-dropdown-list,
#labs.navigation-dropdown-list,
#news.navigation-dropdown-list,
#learn-more.navigation-dropdown-list,
#startups.navigation-dropdown-list,
#info.navigation-dropdown-list {
  background: #00814D;
  min-width: 200px;
  margin-left: 0px;
  border-radius: 5px;
  border: 0px;
  padding-top: 5px;
}

#pos-graduation.navigation-dropdown-list li,
#info.navigation-dropdown-list li,
#labs.navigation-dropdown-list li,
#news.navigation-dropdown-list li,
#learn-more.navigation-dropdown-list li,
#startups.navigation-dropdown-list li,
#info.navigation-dropdown-list li{
  background: #009B37;
  padding-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 190px;
  border-radius: 5px;
}

#pos-graduation.navigation-dropdown-list li a,
#info.navigation-dropdown-list li a,
#labs.navigation-dropdown-list li a,
#news.navigation-dropdown-list li a,
#learn-more.navigation-dropdown-list li a,
#startups.navigation-dropdown-list li a,
#info.navigation-dropdown-list li a{
  color: white;
}

#startups > li > a {
  color: #005263;
  font-weight: normal;
}

#labs > li > a {
  color: #005263;
  font-weight: normal;
}

#pos-graduation > li > a {
  color: #005263;
  font-weight: normal;
}

#news > li > a {
  color: #005263;
  font-weight: normal;
}

#learn-more > li > a {
  color: #005263;
  font-weight: normal;
}

#news {
  width: 120px;
}

#pos-graduation {
  width: 172px;
}

#learn-more {
  width: 144px;
}

#labs {
  width: 152px;
}

#startups {
  width: 132px;
  margin-left: 18px;
}

#forgot-button {
  margin: 5px auto;
  width: 75%;
}

#block-1 > div {
  margin-top: 42px;
}

.block.main-block {
  width: auto;
  margin: 0px 20px !important;
}

.main-content {
  border-width: 0px;
  border-radius: 0px;
  box-shadow: 0px 0px 0px;
  padding: 0px 0px;
}

.highlights-container {
  margin-top: 12px;
}



#search-results > div.search-results-articles.search-results-box > div > ul {
  padding: 0 15px;
}

#search-results > div.search-results-articles.search-results-box > div {
  border-radius: 10px;
}

#search-results > div.search-results-articles.search-results-box > div > ul > li {
  border-bottom: 1px solid #CCC;
}

.block.main-block > div {
  margin-top: 5px;
}

#fullscreen-btn {
  display: none;
}

.my-network-block ul {
  padding: 0px 0px 10px 6px;
}

.block-inner-2 > ul > li > a {
  color: #003366;
}

.block-inner-2 > div > div.admin-link > a {
  color: #003366;
}

#article-actions {
  overflow: auto;
}

#article-actions > a {
  overflow: hidden;
  width: 115px;
  margin-top: 3px !important;
  display: inline-block;
  width: 25%;
  border: solid 1px black !important;
  text-align: center;
}

#article-actions > a#fullscreen-btn {
  display: none;
}  

#article-actions > a.report-abuse-action.button.with-text.icon-alert {
}

#portal-news > ul > li > a {
  color: #336699;
}

.article-body.article-body-blog > div:nth-child(2) > div > span > span.author > a {
  color: #336699;
}

#content .main-block .publishing-info a {
  color: #336699;
}

#article > div.article-body.article-body-tiny-mce-article > h2 > span > strong {
  color: #555555;
}

#article-header > h1 {
  color: #006633 !important;
}

.block-footer-content a.view-all {
  color: #336699;
  top: 8px;
}

#content .people-block .block-footer-content a.view-all, #content .friends-block .block-footer-content a.view-all, #content .members-block .block-footer-content a.view-all {
  background: url(/designs/themes/base/imgs/arrow-right-p.png) 0% 50% no-repeat ;
  background-size: 7px;
  padding-left: 11px;
}

.block.recent-documents-block > div > div > div.block-footer-content > a {
  color: #336699;
}


.search-results-articles.search-results-box {
  margin-bottom: 10px;
}

.pagination {
  font-size: 15px;
}

.controller-search a {
  color: #336699;
}

#content #article .pagination .previous_page {
  float: left;
}

#box-2 {
  margin: 10px 0px 0px 10px !important;
}

#content-inner > div > div > div > div > div.search-form {
  margin: 10px 10px 10px 10px;
}

#search-content {
  margin: 10px 10px 10px 10px;
}

#box-184 > div {
  width: 737px;
}

#block-3003 > div > div {
  padding-left: 17px;
}

#language-chooser {
  display: none;
}

#info > li > a {
  color: #005263;
  font-weight: normal;
}

#info {
  width: 113px;
}

#profile-down ul.visible {
  display: block;
}

#profile-button {
  width: 125px;
  background-color: #009B37;
  height: 33px;
  border-radius: 6px;
  border-bottom: 4px solid #146543;
  cursor: pointer;
  text-align: center;
}

#profile-button.pressed {
  background-color: #00814d;
  border-bottom: 2px solid #0d4a30;
  margin-top: 2px;
}

#profile-button a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 900;
  line-height: 33px;
}

#profile-button.pressed a {
  font-size: 12px;
  line-height: 34px;
}

#profile-button .fa {
  margin-right: 5px;
  font-size: 16px;
}

#profile-button.pressed .fa {
  font-size: 15px;
}

#box-3 > div:nth-child(1) > div:nth-child(1) {
  margin-left: -1%;
}

#profile-dropdown {
  display: none;
  background: #00814d;
  float: right;
  border-radius: 5px;
  position: relative;
  border: 4px solid #00814d;
  text-align: center;
}

#profile-dropdown:after, #profile-dropdown:before {
  bottom: 100%;
  left: 95%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#profile-dropdown:after {
  border-color: rgba(0, 155, 55, 0);
  border-bottom-color: #00814d;
  border-width: 4px;
  margin-left: -4px;
}
#profile-dropdown:before {
  border-color: rgba(0, 155, 55, 0);
  border-bottom-color: #00814d;
  border-width: 10px;
  margin-left: -10px;
}

#profile-dropdown.visible {
  display: block;
}

#profile-dropdown a {
  border-left: none;
}

#profile-dropdown #profile-logged-out {
  padding: 8px 10px;
  min-width: 240px;
}

#profile-dropdown #profile-logged-in {
  padding: 5px 5px 3px;
  min-width: 200px;
}

#profile-dropdown #user-name {
  display: block;
  color: white;
  margin-bottom: 15px;
  font-size: 14px;
}

#profile-dropdown #profile-logged-in #logged-options {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}


#profile-dropdown #profile-logged-in #logged-options li {
  background: #009B37;
  padding-bottom: 0px;
  min-width: 190px;
  border-radius: 5px;
  margin: 0px 0px 2px 0px;
  height: 30px;
}

#profile-dropdown #profile-logged-in #logged-options li a {
  color: white;
  text-decoration: none;
  line-height: 30px;
  display: block;
}

#profile-dropdown #profile-logged-in #logged-options li a:hover {
  color: #ddd;
}

.footer-division-title {
  text-transform: uppercase;
}

#profile-header-actions {
  max-width: 125px;
}

#header-login #header-login-options {
  display: flex;
  margin-top: 12px;
}

.header-login-options-col {
  width: 50%;
}

.header-login-options-col.left {
  text-align: left;
}

.header-login-options-col.right {
  text-align: right;
}

#header-login > #login-inputs input {
  display: inline;
  border-radius: 4px;
  width: 108px;
  height: 20px;
  padding: 3px;
}

#header-login input::-webkit-input-placeholder {
  text-align: center;
  text-transform: lowercase;
  color: #CECECE;
}

#header-login .header-login-options-col input[type=submit] {
  padding: 20px;
  margin: 0;
  text-transform: UPPERCASE;
  background-color: #005D34;
  line-height: 2px;
  color: white;
  font-weight: 900;
  border: none;
  border-bottom: 5px solid #003A19;
  width: 85%;
}

#header-login .header-login-options-col input[type=submit]:hover {
  cursor: pointer;
}

#internal-link > ul,
#social-media > div > ul,
#footer-content > ul > li:nth-child(4) > ul {
  margin-top: 10%;
}

#header-login .header-login-options-col input[type=submit]:focus {
  outline: none;
  background-color: #003A19;
}

#profile-header-fga #header-login #remember-me-checkbox {
  transform: scale(1.5);
}

#profile-header-fga #header-login #remember-me-label {
  color: white;
  margin-top: 10px;
}

.profile-buttons input:hover {
  color: #009B37 !important;
  border-bottom: 5px solid #003A19 !important;
}

#profile-header-fga .signup-form {
  padding-top: 5px;
  text-align: center;
}

#profile-header-fga .signup-form a {
  text-decoration: none;
  font-size: 13px;
  color: #7b7b7b;
}

#profile-header-fga .signup-form a:hover {
  text-decoration: underline;
}

#profile-menu-dropdown {
  display: flex;
  align-items: center;
  margin-right: 9px;
  justify-content: flex-end;
}

#profile-menu-dropdown > img {
  border-radius: 100%;
  max-width: 50px;
  height: 50px;
  overflow: hidden;
}

#profile-menu-dropdown > img:hover,
#profile-menu-dropdown > span:hover {
  cursor: pointer;
}

#profile-menu-dropdown .fa.fa-angle-down {
  padding-left: 5%;
  font-size: 2em;
}

#navigation #login-button span {
  padding-left: 0px;
  padding-right: 5px;
}

#profile-header-fga #forgot-password {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #eee;
}

#profile-header-fga #forgot-password:hover {
  text-decoration: underline;
}

#navigation .header-forgot-password a {
  color: white;
  font-family: "Aller";
  font-size: 13px;
  line-height: 10px;
  padding-bottom: 5px;
}

#navigation .header-remember-me {
  color: white;
  font-family: "Aller";
  float: left;
  padding-left: 0px;
}

.navigation-dropdown-list.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 3px solid #c2e1f5;
}
.navigation-dropdown-list.arrow_box:after, .navigation-dropdown-list.arrow_box:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.navigation-dropdown-list.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #00814D;
  border-width: 5px;
  margin-left: -5px;
}

.navigation-dropdown-list.arrow_box:before {
  margin-left: -9px;
}

#footer-content ul li a {
  font-family: "Aller";
  color: #707070;
}

.button.with-text, a.button.with-text:visited, body.noosfero a.button.with-text, body.noosfero a.button.with-text:visited, input.button.with-text{
  padding: 3px 2px 3px 2px !important;
}

#article-parent .button.icon-back.with-text {
  width: 149px;
  text-align: center;
  border-bottom: none;
  box-shadow: 0 3px 0 #00814D;
  border-radius: 5px;
  color: white;
  background: #009B37;
  margin-bottom: 15px;
  border-color: #009B37;
  font-style: normal;
}

#article-parent .button.icon-back.with-text:hover {
  border-color: #009B37;
  font-weight: bold;
}

div#article-parent {
 text-align: left; 
}
