<div class="span8 top40">
	<div class="pull-right">
		
		<ul class="nav menu nav-pills">
			<li>
			  <a href="http://www.unb.br/" target="_blank">UnB</a>
			</li>
			<li>
			   <a href="http://www.fga.unb.br/" target="_blank">UnB Gama</a>
			</li>
			<li>
			  <a href="http://www.nit.unb.br/" target="_blank">NIT</a>
			</li>
			<li>
			  <a href="http://www.unb.br/" target="_blank">UnB</a>
			</li>
			<li>
			   <a href="http://www.fga.unb.br/" target="_blank">UnB Gama</a>
			</li>
			<li>
			  <a href="http://www.nit.unb.br/" target="_blank">NIT</a>
			</li>
		</ul>
            
    </div>
</div>