<div class="span8 top40">
	<div class="pull-right">
		
		<ul class="nav menu nav-pills">
			<li>
			  <a href="http://www.unb.br/" target="_blank">O GMSSA</a>
			</li>
			<li>
			   <a href="http://www.fga.unb.br/" target="_blank">Equipe</a>
			</li>
			<li>
			  <a href="http://www.nit.unb.br/" target="_blank">Projetos</a>
			</li>
			<li>
			  <a href="http://www.unb.br/" target="_blank">Pesquisas</a>
			</li>
			<li>
			   <a href="http://www.fga.unb.br/" target="_blank">Novidades</a>
			</li>
			<li>
			  <a href="http://www.nit.unb.br/" target="_blank">Notícias</a>
			</li>
		</ul>
            
    </div>
</div>
