 <div id="barra-brasil">
</div>
<div id="top-functions-box">
  <div id="top-functions">
    <ul id="menu-top">
    
      <li><%= link_to 'UnB',  "www.unb.br" %></li>
      <li><%= link_to 'UnB Gama',  "/unb-gama" %></li>
      <li><%= link_to 'NIT',  "/nit" %></li>
    </ul>
  </div>
</div>
