#content {
  .main-block {
    .main-content {
      h1 {
        color: #005263;
      }
    }
  }
}

.profile-image-block {
  p {
    color: #005263;
  }
}

.block.members-block {
  border: none;
  border-radius: 3px;
}

.block-footer-content {
  margin-top: 10px;
}

.profile-homepage {
  #content .block-title {
    border-bottom: 0px;
  }

  #article-header {
    h1.title {
      background: #005263;
    }
  }

  h1.title {
    color: white;
    padding-top: 10px !important;
    padding-left: 10px !important;
    border-left: 15px solid #ccc;
    color: white !important;
  }

  .photo {
    display: inline-flex;
    align-items: center;
    border-radius: 100%;
    box-shadow: 1px 2px 2px 0 #D2D2D2
  }
}

.block-title {
  span {
    border-bottom: 2px solid #005263;
    color: #005263;
  }
}

.even-post-inner.blog-post-inner, .odd-post-inner.blog-post-inner {
  background: #fafafa;
  padding: 10px;
  box-shadow: 0 1px 5px 0 #D2D2D2;
  border-bottom: 0px;
}
