#theme-footer {
  background: #EFEFEF;
  width: auto;
  margin: -5px 0px;
  position: relative;
  z-index: 10;
  overflow: hidden;

  #footer-content {
    background: #EFEFEF;
    margin: -5px auto;
    padding: 30px 20px 20px 20px;
    width: 921px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    box-shadow: none;
    font-size: 14px;

    > ul {
      margin: 0px;
      padding: 0px;
      list-style: none;

      > li {
        margin: 0px;
        padding: 0px 47px;
        display: block;
        float: left;

        .footer-division-title {
          text-transform: uppercase;
        }

        a {
          color: #707070;
        }

        ul {
          padding: 15px 0px 5px;
          list-style: none;

          > li {
            float: none;
            display: block;
            padding: 5px 0px;
          }
        }

        &#social-media,
        &#internal-link {
          border-right: 2px #cccccc solid;
          height: 204px;
        }
      }
    }

    a {
      color: #003366;

      &:hover {
        text-decoration: none;
        color: #222222;
      }
    }

    #footer-cc {
      display: block;
      width: 24px;
      height: 24px;
      background: url(images/cc.png);
      float:left;
      margin-right: 5px;

      span {
        display: none;
      }
    }

    #powered-by-noosfero {
      font-size: 11px;
      text-align: center;
    }

    #language-chooser {
      clear: both;
      margin-top: 1.5em;
      display: none;
    }
  }
}
