%base-icon {
  font-family: FontAwesome;
  color: white;
  background: #008e32;
  border-radius: 100%;
  vertical-align: middle;
}

%read-more-icon {
  @extend %base-icon;
  content: "\f067";
  padding: 3px 4px;
}

%search-icon {
  font-family: FontAwesome;
  content: "\f002";
}

%cancel-button-icon {
  @extend %base-icon;
  content: "\f00d";
  border-radius: 0px;
  background: none;
  padding-bottom: 2px;
}

%submit-comment-button-icon {
  @extend %base-icon;
  content: "\f00c";
  border-radius: 0px;
  background: none;
  padding-bottom: 2px;
}

%reply-comment-button-icon {
  @extend %base-icon;
  content: "\f112";
  background: none;
  color: black;
}

.icon-down-disabled:before {
  content: "\f063";
  color: #c5c5c5;
}

.icon-up-disabled:before {
  content: "\f062";
  color: #c5c5c5;
}
