.controller-search {
  a {
    color: #005263;
  }

  #content .main-content { 
    padding: 15px;

    .search-form {
      margin-bottom: 20px;

      #search-header {
        border-bottom: none;
        margin-bottom: 5px;

        ul#assets-menu {
          margin: 0;

          li.selected a {
            color: #005263;
            border-bottom: 2px solid #005263;
          }
        }
      }

      div.search-field {
        position: relative;

        span.formfield {
          width: 85%;
        }

        input.button.icon-search {
          position: absolute;
          right: 0;
          width: 13%;
          margin: 0;
        }
      }
    }

    #search-content {
      .search-results-innerbox {
        border: none;
        border-radius: 3px;
        background: #FCFCFC;
        box-shadow: 0 3px 2px 0 #D2D2D2;
      }
      
      .pagination {
        margin-top: 15px;
        font-size: 15px;

        em.current {
          color: #005264;
        }
      }
  
      .search-results-type-article ul {
        padding: 0 15px;
      }
  
      .search-results-type-article ul > li {
        border-bottom: 1px solid #CCC;
      }
      .search-results-type-article ul > li:last-child {
        border-bottom: none;
      }
    }
  }
}
