.action-account-signup #content {
  text-align: initial;
}

#content-inner .main-content h1 {
  font-variant: normal;
  background: #005263;
  border-left: 15px solid #ccc;
  color: white;
  border-bottom: none;
  padding: 10px;
}

#content #content-inner .main-content .atention {
  border: none;
  background: #f9f9f9;
  box-shadow: 0 3px 2px 0 #D2D2D2;
}

#content #signup-form {
  width: 100%;

  #signup-form-header {
    margin: 0px auto 5px;
  
    .formlabel {
      margin-top: 10px;
      font-size: 17px;
      font-weight: bold;
    }
    
    input {
      @extend %form-input-style;
      height: 15px;
      font-size: 17px;
    }
  
    #signup-domain {
      min-width: 79px;
      border: none;
      background: none;
      padding: 0px;
      font-size: 18px;
    }
  }

  #template-options {
    > p, > ul {
      margin-left: 0px !important;
      padding-left: 0px !important;
    }
  
    > ul li {
      label {
        font-size: 17px;
      }
  
      a {
        text-decoration: none;
      }
  
      &:hover {
      text-decoration: underline;
      }
    }
  }

  #terms-of-use-box {
    margin: 0;
  
    > label > a {
      color: #005263;
    } 

    input[type='checkbox'] {
      height: auto;
    }
  }

  .submit {
    background: #005263;
    padding: 5px 10px 5px 10px;
    width: 100%;
  
    &:hover {
      text-decoration: underline;
    }
  }  
}
