#public-profile-search {
  padding: 0px;
  margin-top: 10px;
  height: 50px;

  input.button.with-text {
    float: right;
  }
  input.button.with-text:hover {
    background-color: $primary-fs !important;
    color: white !important;
  }

  .formfield {
    width: 85%;

    #q {
      padding: 9px;
    }
  }
}
